apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-jarvis
  namespace: jarvis
  labels:
    app: url-jarvis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: url-jarvis
  template:
    metadata:
      labels:
        app: url-jarvis
    spec:
      containers:
        - name: url-jarvis
          image: nuhgnod/url-jarvis-api:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: url-jarvis-secret
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
          resources:
            requests:
              memory: 512Mi
              cpu: 250m
            limits:
              memory: 1Gi
              cpu: "1"
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            failureThreshold: 20
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            periodSeconds: 15
